<div *ngIf="pokemonData">
    <mat-card class="pokemon-detail-card">
      <div class="pokemon-detail-header">
        <img [src]="pokemonData.imageUrl" alt="{{ pokemonData.name }}" class="pokemon-detail-img" />
        <div>
          <h2>#{{ pokemonData.id }} - {{ pokemonData.name }}</h2>
        </div>
      </div>
    
      <div class="stats-section">
        <app-stats-bar label="HP" [value]="pokemonData.hp"></app-stats-bar>
        <app-stats-bar label="Attack" [value]="pokemonData.attack"></app-stats-bar>
        <app-stats-bar label="Defense" [value]="pokemonData.defense"></app-stats-bar>
        <app-stats-bar label="Sp. Atk" [value]="pokemonData.specialAttack"></app-stats-bar>
        <app-stats-bar label="Sp. Def" [value]="pokemonData.specialDefense"></app-stats-bar>
        <app-stats-bar label="Speed" [value]="pokemonData.speed"></app-stats-bar>
      </div>
    
      <p class="description">{{ pokemonData.description }}</p>
    </mat-card>
    
    <div *ngIf="pokemonData.evolvesToId" class="evolution-section">
      <h3>Evoluciones</h3>
      <app-pokemon-card
        *ngIf="pokemonData.evolvesToId"
        [pokemon]="evolvesToData"
        (cardClick)="goToPokemonDetail($event)"
      ></app-pokemon-card>
    </div>
  </div>
  