<!-- pokemon-detail.component.html -->
<div *ngIf="pokemonData">
    <h2>{{ pokemonData.name }}</h2>
    <img [src]="pokemonData.imageUrl" alt="{{ pokemonData.name }}" />
    <p>HP: {{ pokemonData.hp }}</p>
    <p>Attack: {{ pokemonData.attack }}</p>
    <p>Defense: {{ pokemonData.defense }}</p>
    <p>Sp. Attack: {{ pokemonData.specialAttack }}</p>
    <p>Sp. Defense: {{ pokemonData.specialDefense }}</p>
    <p>Speed: {{ pokemonData.speed }}</p>
  
    <p>{{ pokemonData.description }}</p>
  
    <!-- Evolución (Opcional, según tu API) -->
    <div>
      <h3>Evoluciona desde:</h3>
      <div *ngIf="pokemonData.evolvesFromId">
        <a [routerLink]="['/pokemon', pokemonData.evolvesFromId]">
          Ir a la pre-evolución
        </a>
      </div>
  
      <h3>Evoluciona a:</h3>
      <div *ngIf="pokemonData.evolvesToId">
        <a [routerLink]="['/pokemon', pokemonData.evolvesToId]">
          Ir a la evolución
        </a>
      </div>
    </div>
  </div>
  