<div class="pokedex-search">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput [(ngModel)]="searchName" (input)="onSearchChange()" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Filtrar por tipo</mat-label>
    <mat-select [(ngModel)]="typeFilter" (selectionChange)="onTypeChange()">
      <mat-option value="">Todos</mat-option>
      <mat-option value="Fire">Fuego</mat-option>
      <mat-option value="Water">Agua</mat-option>
      <mat-option value="Grass">Planta</mat-option>
      <!-- ... -->
    </mat-select>
  </mat-form-field>
</div>

<div class="pokemon-list">
  <app-pokemon-card
    *ngFor="let poke of filteredPokemon"
    [pokemon]="poke"
    (cardClick)="goToPokemonDetail($event)"
  >
  </app-pokemon-card>
</div>
