body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #212121;
  }
  
  a {
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .app-title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }